<!doctype html>
<html ng-app="App">
  <head>
    <script src="angular.min.js"></script>
    <script src="ng-kaltura-player.js"></script>
    <script src="ctrl.js"></script>
  </head>
  <style>
      button{
          width: 70px;
          height: 24px;
          font-family: Arial;
          font-size: 12px;
      }
  </style>
  <body ng-controller="ctrl">
    <h2>Sending notifications to the player</h2>
    <p>You can send notifications to the player in order to control playback.<br>
        In order to establish communication, provide a unique "api" attribute and use it to invoke the player's "sendNotification" method.<br>
        For a full list of available notifications, look at the <a href="http://player.kaltura.com/docs/api#sendNotification-desc" target="_blank">Kaltura API documentation</a>.
    </p>
    <kaltura-player pid="1645161" uiconfid="30641211" entryid="1_rhr59a0y" api="playerAPI" width="640px" height="400px"></kaltura-player>

    <p>
        <button ng-click="sendToPlayer('playerAPI','doPlay')">play</button>
        <button ng-click="sendToPlayer('playerAPI','doPause')">pause</button>
    </p>

  </body>
</html>